/* Основные стили */
body {
    background-color: cornsilk;
    margin: 0;
    padding: 0;
}

/* Стили для меню */
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu ul li a:hover {
    background-color: #ddd;
    color: #000;
}

/* Логотип */
.logo {
    max-width: 150px; /* Ограничение ширины логотипа */
    height: auto;
    margin: 0; /* Убираем центровку */
}

/* Контент */
.container {
    margin-top: 20px;
    max-width: 1400px; /* Ограничение ширины контента */
}

/* Центрирование картинок */
img {
    display: block;
    margin: 0 auto; /* Центрирование картинки */
}

/* Футер */
footer {
    background-color: #f8f9fa;
    color: #333;
    width: 100%;
    text-align: center;
    margin-top: auto; /* Сдвиг футера вниз */
}
