<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница моего первого сайта на Django</title>
</head>
<body>

     <nav>
            <a href="/">Главная</a> |
            <a href="/new">Новая страница</a> |
            <a href="/data">Данные</a> |
            <a href="/test">Тест</a>
        </nav>
        <h1>Это действительно мой первый проект на Django!!!</h1>
        <img src="https://via.placeholder.com/800x400?text=Главная+страница" alt="Главная">

</body>
</html>